.shop--bg {
  background: url("../../asset/image/bg-shop2.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  margin-bottom: 50px;
  box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.5);
}

.judul--shop {
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #2c774b;
  background-color: rgb(255, 255, 255, 0.5);
  border-radius: 20px;
  width: fit-content;
  padding: 34px;
  margin: auto;
  margin-top: 100px;
}

.judul--shop h1 {
  font-size: 68px;
}

.shop--body {
  color: #2c774b;
}

.card--toko {
  background: linear-gradient(to right top, #2c774b, #1c7f60, #038674, #008d88, #00939a, #0d9ea0, #1ba8a5, #29b3aa, #5cc39c, #90d18c, #c5db81, #fce181);
  color: white;
  border: none !important;
  border-radius: 40px !important;
  box-shadow: 10px 20px 20px rgba(0, 0, 0, 0.5) !important;
}

.card--pabrik {
  background: linear-gradient(to right top, #2c774b, #1c7f60, #038674, #008d88, #00939a, #0d9ea0, #1ba8a5, #29b3aa, #5cc39c, #90d18c, #c5db81, #fce181);
  color: white;
  border: none !important;
  border-radius: 40px !important;
  box-shadow: 10px 20px 20px rgba(0, 0, 0, 0.5) !important;
}

.card h5 {
  font-size: 24px;
  font-weight: bold;
}

.galeri img {
  width: 200px;
  height: 200px;
}

.galeri {
  padding: 0 200px;
}

@media (max-width: 900px) {
  .galeri {
    padding: 80px 80px;
  }
}

/* 
#galeri {
  padding: 20px 80px;
}

.galeri img {
  width: 200px;
  height: 200px;
}

#kelas {
  padding: 20px 40px;
}
.galeri,
#row {
  width: 100%;
  padding: 70px 0;
  background: white;
  text-align: center;
  font-weight: bold;
  border-radius: 20px;
}

#row {
  padding: 20px 80px;
}

#row .card {
  height: 350px;
  display: flex;
  flex-direction: column;
}

.foto {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: auto;
}

.foto1 {
  flex-basis: 48%;
  text-align: center;
  border-radius: 7px;
  margin-bottom: 20px;
  color: white;
}

.foto1 img {
  width: 100%;
  border-radius: 7px;
}

.foto1 .deskripsi {
  margin: 20px;
  color: black;
} */
