:root {
  --primary-green: #2c774b;
  --linear-color: linear-gradient(to right top, #2c774b, #1c7f60, #038674, #008d88, #00939a, #0d9ea0, #1ba8a5, #29b3aa, #5cc39c, #90d18c, #c5db81, #fce181);
}

.about--bg {
  height: 500px;
  background: url("../../asset/image/aboutBg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: center;
  color: var(--primary-green);
  box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.5);
}

.story--about {
  background: rgba(44, 119, 75, 0.5);
  /* font-weight: bold; */
  padding: 68px;
  border-radius: 10px;
  font-size: 20px;
  line-height: 200%;
}

.story--about::first-letter {
  font-weight: bold;
  font-size: 64px;
}

.judul--tentang {
  margin-top: 100px;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.judul--tentang h1 {
  font-size: 68px;
}

.jumbo--about {
  margin: 150px 0;
}

.icons {
  color: var(--primary-green);
}

.promoBg {
  background: var(--linear-color);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 0;
}

.mobile1 {
  border-radius: 20px;
  width: 200px;
  transform: rotate(-15deg);
}
.mobile2 {
  width: 200px;
  transform: rotate(15deg);
}

.badan {
  color: var(--primary-green);
}

.card--about {
  margin-bottom: 50px !important;
}
