.singlePost {
  flex: 9;
}

.singlePostWrapper {
  /* padding: 20px; */
  padding-right: 0;
}

.singlePostImg {
  width: 600px;
  height: 400px;
  text-align: center;
  margin: 20px auto;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  border-radius: 30px;
}

.singlePostTitle {
  text-align: center;
  margin: 10px;
  font-size: 28px;
  text-transform: capitalize;
  font-family: "Poppins", sans-serif;
}

.artikel {
  text-align: justify;
  margin: 10px;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  line-height: 30px;
}

.bread {
  margin-top: 30px !important;
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
  font-size: 12px;
  border-bottom: 1px solid;
}
.breadcrumb-item {
  color: #000 !important;
  text-decoration: none !important;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.socialLinks {
  font-size: 30px;
}

.socialLinks a {
  margin: 10px;
}

.singlePostEdit {
  float: right;
  font-size: 16px;
}

.singlePostIcon {
  margin-left: 10px;
  cursor: pointer;
}

.singlePostIcon:first-child {
  color: teal;
}
.singlePostIcon:last-child {
  color: tomato;
}

.singlePostInfo {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  color: #be9656;
}

.singlePostAuthor {
  margin-left: 5px;
}

.singlePostDesc {
  color: #666;
  font-size: 18px;
  line-height: 25px;
  font-family: "Poppins", sans-serif !important;
}

.singlePostDesc::first-letter {
  margin-left: 20px;
  font-size: 30px;
  font-weight: 600;
}
