:root {
  --primary-green: #2c774b;
  --linear-color: linear-gradient(to right top, #2c774b, #1c7f60, #038674, #008d88, #00939a, #0d9ea0, #1ba8a5, #29b3aa, #5cc39c, #90d18c, #c5db81, #fce181);
}

@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap");

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  padding: 0;
  font-family: "Libre Baskerville", serif !important;
  min-height: 100%;
  width: 100%;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.nav--link {
  margin-right: 2rem;
  color: var(--primary-green);
  text-decoration: none;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.nav--link:hover {
  border-bottom: 3px solid green;
}

.nav--item {
  background-color: rgb(255, 255, 255, 0.95);
  padding: 10px 10px;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.hero--home {
  padding: 10px 40px;
  color: var(--primary-green);
  margin: 30px 0;
}

.contact--header {
  background: url("./components/asset/image/contactBg.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 400px;
  margin-bottom: 3rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

.contact--header h1 {
  text-align: center;
  color: var(--primary-green);
  margin-top: 8%;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.form--contact {
  padding: 10px 100px !important;
}

.contact--icon {
  color: var(--primary-green);
  font-size: 100px;
  border-radius: 50%;
  padding: 10px;
  border: 4px solid var(--primary-green);
  margin-bottom: 1rem;
}

.btn--home {
  margin: 80px 50px;
}

.login--page-left {
  background: url("./components/asset/image/bg1.jpg");
  background-size: cover;
  background-position: top left;
}

.text--green {
  color: var(--primary-green);
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.login--header {
  background: rgb(255, 255, 255, .5);
  border-radius: 30px;
  margin: 20px !important;
}

.btn--login {
  background: linear-gradient(123.72deg, #2c774b 33.36%, #008d82 83.42%);
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.5);
  /* text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white; */
  font-weight: 700;
  border-radius: 10px;
  color: #ffffff;
  padding: 10px 30px;
  border: none;
}


.btn--login:hover {
  transition: all .5s ease-in-out ;
  color: black;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;

  background: linear-gradient(240deg, #2c774b 33.36%, #008d82 50.42%);
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5);
  border-radius: 15px;


}

.right--login {
  background-image: var(--linear-color);
  color: #008d82;
}

.baris {
  height: 10px;
  border: 0;
  box-shadow: 0 10px 10px -10px #8c8b8b inset;
}

.form-control {
  font-size: 12px !important;
  height: 50px;
}

.card--login {
  padding-top: 150px !important;
}

.footer--bg {
  background-image: var(--linear-color);
  color: white;
  font-size: 14px;
}

.footer--bg h5 {
  font-size: 16px;
  line-height: 25px;
}

.footer--bg ul {
  padding-left: 10px;
}

.sosmed .footer--link {
  color: white;
  padding-right: 13px;
  font-size: 20px;
}

.footer--link {
  color: white;
  text-decoration: none;
  padding-bottom: 5px;
}
