:root {
  --primary-green: #2c774b;
  --secondary-color: #fce181;
  --third-color: #62ac7c;
  --primary-linear: linear-gradient(123.72deg, #2c774b 33.36%, #008d82 83.42%);
  --linear-color: linear-gradient(to right top, #2c774b, #1c7f60, #038674, #008d88, #00939a, #0d9ea0, #1ba8a5, #29b3aa, #5cc39c, #90d18c, #c5db81, #fce181);
}

@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap");

html {
  scroll-behavior: smooth !important;
}

::selection {
  background: var(--primary-green);
  color: white;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  padding: 0;
  font-family: "Libre Baskerville", serif !important;
  min-height: 100%;
  height: 100%;
  width: 100vw;
  overflow-x: hidden;
  background: url("./components/asset/image/sun.png");
  background-repeat: no-repeat;
  background-size: 20%;
  background-position: 10% 20%;
  background-attachment: fixed;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 14px;
}

p {
  font-size: 16px;
}

@media (max-width: 800px) {
  h1 {
    font-size: 32px !important;
  }
  h2 {
    font-size: 24px !important;
  }
  h3 {
    font-size: 18px !important;
  }
  h4 {
    font-size: 16px !important;
  }
  h5 {
    font-size: 14px !important;
  }
  h6 {
    font-size: 12px !important;
  }
  p {
    font-size: 14px !important;
  }
}

@media (max-width: 600px) {
  h1 {
    font-size: 24px !important;
  }
  h2 {
    font-size: 18px !important;
  }
  h3 {
    font-size: 16px !important;
  }
  h4 {
    font-size: 14px !important;
  }
  h5 {
    font-size: 12px !important;
  }
  h6 {
    font-size: 10px !important;
  }
  p {
    font-size: 12px !important;
  }
}

section {
  padding: 50px 0;
}

.loading--page {
  height: 100vh;
  width: 100vw;
  background: var(--linear-color);
}

.btn--home {
  margin: 80px 50px;
}

@media (max-width: 800px) {
  .judul--login {
    font-size: small !important;
  }
}

.login--page-left {
  background: url("./components/asset/image/bg1.jpg");
  background-size: cover;
  background-position: top left;
}

.text--green {
  color: var(--primary-green);
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.text--shadow {
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.login--header {
  background: rgb(255, 255, 255, 0.5);
  border-radius: 30px;
  margin: 20px !important;
}

.btn--login {
  background: var(--primary-linear);
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.5);
  /* text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white; */
  font-weight: 700;
  border-radius: 10px;
  color: #ffffff;
  padding: 10px 30px;
  border: none;
}

.btn--login:hover {
  /* transition: all 0.5s ease-in-out; */
  /* text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white; */
  background: linear-gradient(240deg, #2c774b 33.36%, #008d82 50.42%);
  box-shadow: 0px 0px 0px rgba(243, 241, 241, 0.5);
  border-radius: 15px;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 24px;
  border: none;
  outline: none;
  background-color: #479242;
  color: white;
  cursor: pointer;
  padding: 15px 30px;
  border-radius: 20px;
}

#myBtn:hover {
  background-color: #555;
  scale: 1.4;
}

.right--login {
  background-image: var(--linear-color);
  color: #008d82;
}

.baris {
  height: 10px;
  border: 0;
  box-shadow: 0 10px 10px -10px #8c8b8b inset;
}

.form-control {
  font-size: 12px !important;
  height: 50px;
}

.card--login {
  padding-top: 150px !important;
}
